* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.tool-bar {
    height: 100px;
    width: 100%;
    position: fixed;
}

.nav {
    height: 55px;
    background-color: #F1F1F1;
}

.action {
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
}

.action-menu {
    width: 220px;
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    color: red;
}

.body {
    position: fixed;
    top: 100px;
    width: 100%;
}

.menu {
    width: 220px;
    float: left;
    padding-left: 30px;
}

.content {
    margin: 0;
    padding: 5px;
    float: left;
    overflow: auto;
    font-size: 30px;
}
