<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>所有客户 - CRM Maryshine</title>
        <link type="text/css" rel="stylesheet" href="/media/css/common.css" />
        <link type="text/css" rel="stylesheet" href="/media/css/customer.css" />
    </head>
    <body>
        {% include "nav_bar.tpl" %}
        <div class="customer-list">
			<div class="customer">
				<div class="customer-info">
					<p class="customer-info-entry">
						ID: 1
					</p>
					<p class="customer-info-entry">
						称呼: 李先生
					</p>
					<p class="customer-info-entry">
						电话: 18610229823
					</p>
					<p class="customer-info-entry">
						姓名: 李明扬
					</p>
					<p class="customer-info-entry">
						年龄: 36
					</p>
					<p class="customer-info-entry">
						邮箱: morrislee@gmail.com
					</p>
					<p class="customer-info-entry">
						地址: 香港中环
					</p>
				</div>
				<div class="customer-action">
				电话记录 短信记录
				</div>
			</div>
            <div class="customer">
				<div class="customer-info">
				</div>
				<div class="customer-action">
				</div>
			</div>
			<div class="customer">
				<div class="customer-info">
				</div>
				<div class="customer-action">
				</div>
			</div>
        </div>
		<div class="foot"></div>
    </body>
</html>
