<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>CRM - Maryshine</title>
        <link rel="stylesheet" type="text/css" href="/media/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/index.css" />
    </head>
    <body>
        <div class="tool-bar">
            <div class="nav">nav</div>
            <div class="action">
                <div class="action-menu">CRM</div>
                <div class="action-operation">操作</div>
            </div>
        </div>
        <div class="body">
            <div class="menu">
                <ul>
                    <li>客户</li>
                    <li>会话</li>
                </ul>
            </div>
            <div class="content" id="content">
                1abcdefghijklmnopqrstuvwxyz1abcdefghijklmnopqrstuvwxyz1abcdefghijklmnopqrstuvwxyz<br/><br/><br/><br/><br/>
                2<br/><br/><br/><br/><br/>
                3<br/><br/><br/><br/><br/>
                4<br/><br/><br/><br/><br/>
            </div>
            <script type="text/javascript">
                var _contentE = document.getElementById("content");
                _contentE.style.width = (screen.availWidth - 220) + "px";
                _contentE.style.height = (screen.availHeight - 100 - 70) + "px";
            </script>
        </div>
    </body>
</html>
