<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>CRM - Maryshine</title>
        <link rel="stylesheet" type="text/css" href="/media/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/index.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/customer.css" />

        <script type="text/javascript" src="media/js/jquery-2.0.3.min.js"></script>
	    <script type="text/javascript" src="/media/js/main.js"></script>
    </head>
    <body>
        <div class="tool-bar">
            <div class="nav">nav</div>
            <div class="action">
                <div class="action-menu">CRM</div>
                <div class="action-operation" id="operation-bar">操作</div>
            </div>
        </div>
        <div class="body">
            <div class="menu" id="menu">
                <p class="mi-button" data-type="button" data-href="/customers/add" data-container="content" data-callback="onLoadAddCustomerUI">+&nbsp;客户</p>
                <p class="mi-button" data-type="button" data-href="/sessions/add" data-container="content" data-callback="onLoadAddSessionUI">+&nbsp;会话</p>
                <p class="menu-item" data-type="text" data-href="/customers" id="mi-customer" data-container="content" data-callback="onLoadCustomerList">客户</p>
                <p class="menu-item" data-type="text" data-href="/sessions" id="mi-session" data-container="content" data-callback="onLoadSessionList">会话</p>
            </div>
            <div class="content" id="content">
                首页
            </div>
            <script type="text/javascript">
                var _contentE = document.getElementById("content");
                _contentE.style.width = (screen.availWidth - 200) + "px";
                _contentE.style.height = (screen.availHeight - 100 - 70) + "px";
            </script>
        </div>
    </body>
    <script type="text/javascript" src="/media/js/state.js"></script>
</html>
